@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    h1 {
        font-weight: bold;
        font-size: 2rem;
        text-align: left;
    }

    ul li {
        display: flex;
        display: inline;
    }

    ul li a {
        font-size: 1rem;
        text-decoration: none;
        color: gray;
        padding: 0.5rem;
    }

    ul li a:hover {
        color: black;
    }
}

.index_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem;

    img {
        width: 30%;
        border: 2px solid black;
        border-radius: 50%;
    }

    p {
        margin-top: 1rem;
        font-weight: 200;
    }

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
    }

    h3 {
        color: gray;
        font-size: 1rem;
    }

    .index_main__btn {
        margin: 1rem;

        button {
            margin: 0.2rem;
            padding: 1rem;
            background-color: white;
            border: 2px solid black;
            border-radius: 0.5rem;
        }

        button:hover {
            background-color: black;
            color: white;
        }

        button:last-child {
            background-color: black;
            color: white;
        }

        button:last-child:hover {
            background-color: white;
            color: black;
        }
    }

    .index_main__rrss {
        margin: 0.5rem;
        font-size: 1.5rem;

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            color: gray;
        }
    }
}

footer {
    margin: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: gray;
}


@media screen and (max-width: 632px) {
    .header {
        & h1 {
            font-size: 1.5rem;
        }
    }

    .header {
        & ul li a {
          font-size: 0.9rem;
        }
      }

}


@media screen and (max-width: 510px) {
    .header {
        flex-direction: column;

        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }

        ul li {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ul li a {
            font-size: 0.8rem;
            text-decoration: none;
            color: gray;
            padding: 0.2rem;
        }

        ul li a:hover {
            color: black;
        }

    }

    .index_main {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 50%;
            border: 0.1rem solid black;
            border-radius: 50%;
        }

        p {
            margin-top: 0.5rem;
            font-size: 0.7rem;
            color: gray;
        }

        h2 {
            font-weight: bold;
            font-size: 1rem;
        }

        h3 {
            color: gray;
            font-size: 0.8rem;
        }
    }

    .index_main__btn {
        margin: 1rem;

        button {
            padding: 0.7rem;
            border: 0.1rem solid black;
            border-radius: 0.5rem;
            background-color: white;
        }

        button:hover {
            background-color: black;
            color: white;
        }

        button:last-child {
            background-color: black;
            color: white;
        }

        button:last-child:hover {
            background-color: white;
            color: black;
        }
    }

    .index_main__rrss {
        display: inline;
        font-size: 1.3rem;
        margin: 0.3rem;

        a {
            text-decoration: none;
            color: black;
        }

        a:hover {
            color: gray;
        }
    }

    footer p {
        font-size: 0.7rem;
        color: gray;
        text-align: center;
        margin: 2rem 0 1rem 0;
    }

}

@media screen and (max-width: 375px) {
    .index_main__btn {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 315px) {
    
    
}